<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
<!--
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    %d %5p [%t] (%F:%L) - %m%n

-->
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %F:%L - %msg%n"/>

    </Console>
  </Appenders>
  <Loggers>

    <Logger name="com.c2point.tools.ui.accountmgmt" 		level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
    <Logger name="com.c2point.tools.ui.toolsmgmt.ToolItemEditDlg" 		level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
      
<!--
    <Logger name="com.c2point.tools.ui"					level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
	<Logger name="com.c2point.tools" 					level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
	<Logger name="com.c2point.tools.email" 				level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
	<Logger name="com.c2point.tools.resources" 			level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>

    <Logger name="com.c2point.tools.ui" 				level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
    <Logger name="com.c2point.tools.ui.login"			level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
    <Logger name="com.c2point.tools.ui.orgmgmt" 		level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
    <Logger name="com.c2point.tools.ui.printpdf" 		level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
    <Logger name="com.c2point.tools.ui.reports" 		level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
    <Logger name="com.c2point.tools.ui.repositoryview" 	level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
    <Logger name="com.c2point.tools.ui.toolsmgmt" 		level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
    <Logger name="com.c2point.tools.ui.transactions" 	level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>
    <Logger name="com.c2point.tools.ui.upload" 			level="debug" additivity="false"> <AppenderRef ref="Console"/> </Logger>

-->




    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
